<form action="reg_form_process.php" method="post" enctype="multipart/form-data">
Your name: <br>
<input type="text" name="tb_name" placeholder="Enter your name" required /><br>
Your email: <br>
<input type="text" name="tb_email" placeholder="Enter your email" required /><br>
Your password: <br>
<input type="text" name="tb_password" placeholder="Enter password" required /><br>
Your avatar:<br>
<input type="file" name="fup_avatar" required /><br>
<input type="submit" name="btn_register" value="Register"/>
</form>