<form action="process_contact.php" method="post">
Your name:<br>
<input type="text" name="tb_name" placeholder="Enter your name" required /><br>
Your email:<br>
<input type="text" name="tb_email" placeholder="Enter your email" required /><br>
Your gender:<br>
Male: <input type="radio" name="rb_gender" /><br>
Female: <input type="radio" checked name="rb_gender" /><br>
Message:<br>
<textarea name="ta_message" placeholder="Enter message" required></textarea><br>
I am older than 13 <input type="checkbox" name="cb_age" /><br>
<input type="submit" name="btn_send" value="Send" />
<input type="reset" value="Reset fields" />
</form>
